<% if(errorMsg!='' ){%>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <br><br>
      <label for="" class="alert alert-danger">
        <%=errorMsg%>
      </label>
    </div>
    <div class="col-2"></div>
  </div>
  <%}%>